@font-face {
  font-family: "Fredoka Condensed";
  src: url("/PORTFOLIO/Fonts/Fredoka_Condensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka Condensed";
  src: url("/PORTFOLIO/Fonts/Fredoka_Condensed-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fredoka Condensed";
  src: url("/PORTFOLIO/Fonts/Fredoka_Condensed-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corben";
  src: url("/PORTFOLIO/Fonts/Corben-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corben";
  src: url("/PORTFOLIO/Fonts/Corben-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}