@use "./variables.scss" as *;

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    scrollbar-width: none;
    font-family: $normalFont;
}

.about-me .glass-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 2rem;
}

// EXPERIENCE
.experiences {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 100%;
    min-height: 23rem;

    background: rgba(255, 255, 255, 0.114);
    border: 1px solid white;
    border-radius: 20px;

    box-shadow: 0 0 50px rgba(152, 131, 187, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $black transparent;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: thin;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 20px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        border: none;
    }
}

.exp {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.125rem;
    border-bottom: 1px solid $black;
}

.about-me .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    padding-bottom: 5px;
    width: 100%;
}

.exp-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.exp .left {
    width: clamp(3rem, 2vw + 2rem, 5rem);
}

.exp .left img {
    width: 100%;
    border-radius: 7px;
}

.exp .info {
    display: flex;
    column-gap: .75rem;
}

.exp .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.exp .up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: $header;
    font-family: $nameFont;
    font-weight: 600;
}

.exp .bottom {
    font-size: $small;
}

.exp-desc {
    font-size: $small;
    line-height: 1.5rem;

    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}

.year {
    font-size: $subhead;
    font-weight: 500;
    text-align: right;
}

.company-name {
    text-align: left;
}

// TOOLS
.tools-container {
    display: flex;
    column-gap: 2rem;
    width: 100%;
}

.tools {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.114);
    border: 1px solid white;
    border-radius: 20px;

    box-shadow: 0 0 50px rgba(152, 131, 187, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.tools-grid {
    font-size: $subhead;
    font-weight: 500;
    font-family: $nameFont;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.75rem;
}

.tool {
    padding: 10px 0;
    border-bottom: 1px solid;
    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: rgba(74, 60, 99, 0.67);
        padding: 10px 10px;
        color: white;
    }
}

.aboutme-btn .btn {
    background-color: $black;
    color: white;
    border: none;
    padding: .7rem 3rem;
    border-radius: 7px;
    font-weight: 500;

    &:hover {
        background-color: white;
        color: $black;
        cursor: pointer;
    }
}

.aboutme-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    color: $black;
    text-decoration: none;
    margin: 0;
}

.year-mobile {
    display: none;
}

// .bio {
//     background: rgba(255, 255, 255, 0.2);
//     border: 1px solid white;
//     border-radius: 20px;

//     box-shadow: 0 0 50px rgba(152, 131, 187, 0.2);
//     backdrop-filter: blur(20px);
//     -webkit-backdrop-filter: blur(20px);

//     display: flex;
//     column-gap: 32px;
//     padding: 2rem;
// }

// .bio-profile {
//     width: 100%;
//     max-width: 250px;
// }

// .bio-profile img {
//     width: 100%;
//     object-fit: cover;
//     border-radius: 15px;
// }

// .bio-desc {
//     display: flex;
//     flex-direction: column;
//     row-gap: 12px;
// }

// .about-me h2 {
//     font-size: 24px;
//     font-weight: bold;
// }

// .more-bio {
//     font-size: 14px;
//     line-height: 20px;
// }

@media (max-width: 1023px) {
    .exp-info {
        grid-template-columns: 1fr;
    }

    .tool {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 767px) {
    .tools {
        padding: 1rem;
    }

    .company-name {
        margin-bottom: -5px;
        text-align: left;
    }

    img {
        display: block;
    }

    .tools-grid {
        grid-template-columns: 1fr 1fr;
    }

    .up {
        flex-direction: column;
    }

    .exp {
        padding: 1rem 0;
    }

    .year {
        display: none;
    }

    .exp .right {
        align-items: start;
        justify-content: center;
    }

    .skill-mobile {
        display: block;
    }

    .skills .end {
        display: none;
    }
}

@media (min-width: 768px) {
    .skill-mobile {
        display: none;
    }
}

@media (max-width: 1023px) {
    .tools-container {
        flex-direction: column;
        row-gap: 2rem;
        width: 100%;
    }
}