@use "./variables.scss" as *;

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconBtn {
  width: clamp(1rem, 1vw + 1rem, 3rem);
  height: clamp(1rem, 1vw + 1rem, 3rem);
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.back {
  background: url("../assets/back.png") no-repeat center/contain;

  &:hover {
      background: url("../assets/back-hover.png") no-repeat center/contain;
  }
}

.menu {
  background: url("../assets/menu.png") no-repeat center/contain;

  &:hover {
      background: url("../assets/menu-hover.png") no-repeat center/contain;
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4.8rem 4rem;
}

.menu-frame {
  background: rgba(74, 60, 99, 0.67);
  border-radius:10px;
  padding: .75rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  backdrop-filter: blur(50px);
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-links a {
  font-size: $small;
  color: white;
  text-decoration: none;
  font-family: $nameFont;
  font-weight: 500;
  padding: .5rem 3rem .7rem 3rem;
  

  transition: all 0.15s ease-in-out;
  border-radius: 7px;
}

.menu-links a:hover {
  color: $black;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1023px) {
  .menu-overlay {
    padding: 4.5rem 4rem;
  }
}

@media (max-width: 767px) {
  .menu-overlay {
    padding: 2.6rem 2.3rem;
  }

  .menu-frame {
    padding: .5rem 1rem;
  }
}