@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Fredoka:wdth,wght@75,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+Condensed:wght@400;500;700&display=swap');

$black: #4A3C63;
$white: #FFFFFF;

$nameFont: 'Fredoka Condensed', sans-serif;
$normalFont: "Corben", serif;

body {
    overflow: hidden;
}